body{
    background-color: #c8d3e3;
}
h1{
    color: #4c5d75;
}
h3{
    color: #455771;
}
td{
    
   color: #344b6b;
}
table{
    border-color: #5f799c;
}
h1{
    font-family: "candara"
}
h3{
    font-family: "candara"
}